{% extends 'base/base.html' %}

{% block title %}Préstamos{% endblock %}

{% block content %}
<div class="detalle-container">
    <h1>Solicitar Préstamo</h1>

    <!-- Mostrar el mensaje de error personalizado si existe -->
    {% if error %}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{ error }}
            <a href="{% url 'prestamos:crear_prestamo' %}">Volver a solicitar</a>
        </div>
    {% endif %}

 <!-- Mostrar errores generales del formulario -->
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Si no hay error, mostrar el formulario y el campo monto -->
    {% if not error %}
    <div class="form-group">
    <form method="post">
        {% csrf_token %}

        <!-- Campo para el monto -->
        <div class="form-group">
            <label for="id_monto">Monto del Préstamo:</label>
            {{ form.monto }}
            {% if form.monto.errors %}
                <div class="alert alert-danger">
                    {{ form.monto.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
        <!-- Otros campos del formulario -->
        {% for field in form %}
            {% if field.name != 'monto' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div></div>
            {% endif %}
        {% endfor %}

        <!-- Botones de acción -->
        <button class="btn-submit">Solicitar Préstamo</button>
        <br><br>

    </form>
    
    <a href="{% url 'prestamos:listar_prestamos' %}" class="btn btn-secondary">
        <button class="btn-submit">Cancelar</button></a>
</div>
    {% endif %}
</div>

{% endblock %}

