{% extends 'base/base.html' %}

{% block title %}Préstamos{% endblock %}

{% block content %}
    <h1>Solicitudes de Préstamos</h1>
    <ul>
        {% for prestamo in prestamos %}
            <li>Cliente: {{ prestamo.cliente }} - Monto solicitado: {{ prestamo.monto }} - Estado:{% if prestamo.aprobado %}
                Aprobado
            {% else %}
                Pendiente
            {% endif %}</li>
        {% empty %}
            <li>No hay solicitudes de préstamos registradas.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'homebanking:homebanking' %}">Volver atrás</a>
    <a href="{% url 'prestamos:crear_prestamo' %}">
        <button>Solicitar prestamo</button> </a>
{% endblock %}
