{% extends 'base/base.html' %}

{% block title %}Préstamos{% endblock %}

{% block content %}
<div class="detalle-container">
    <h1>Solicitudes de Préstamos</h1>
    
    <!-- Lista de préstamos -->
    <ul class="list-group">
        {% for prestamo in prestamos %}
            <li class="list-group-item">
                <strong>Cliente:</strong> {{ prestamo.cliente }} <br>
                <strong>Monto solicitado:</strong> {{ prestamo.monto }} <br>
                <strong>Estado:</strong> 
                {% if prestamo.aprobado %}
                    <span class="badge bg-success">Aprobado</span>
                {% else %}
                    <span class="badge bg-warning">Pendiente</span>
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">No hay solicitudes de préstamos registradas.</li>
        {% endfor %}
    </ul>

    <div >
        <a href="{% url 'prestamos:crear_prestamo' %}" >
            <button class="btn-submit">Solicitar préstamo</button></a>
          <br><br>
        <a href="{% url 'homebanking:homebanking' %}">
            <button class="btn-submit">Volver atrás</button>
            </a>
       

    </div>
</div>
{% endblock %}
