{% extends 'base/base.html' %}

{% block title %}Cuentas{% endblock %}

{% block content %}
    <h1>Cuentas Asociadas</h1>
    <ul>
        {% for cuenta in cuentas %}
            <li>Titular: {{cuenta.cliente.nombre}} {{cuenta.cliente.apellido}} </li>
            <li>Tipo de cuenta: {{ cuenta.tipo }} </li>
            <li>Saldo: {{ cuenta.saldo }}</li>
            <li>CVU: {{ cuenta.cvu }}</li>
        {% empty %}
            <li>No hay cuentas registradas.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'homebanking:homebanking' %}">Volver atrás</a>
{% endblock %}
