{% extends 'base/base.html' %}

{% block title %}Detalle Tarjeta{% endblock %}

{% block content %}
    <h1>Detalles de la Tarjeta</h1>
    <p><strong>Número de Tarjeta:</strong> {{ tarjeta.numero }}</p>
    <p><strong>Tipo de Tarjeta:</strong> {{ tarjeta.tipo }}</p>
    <p><strong>Cliente Asociado:</strong> {{ tarjeta.cliente }}</p>
    <p><strong>Fecha de Vencimiento:</strong> {{ tarjeta.fecha_vencimiento }}</p>

    <a href="{% url 'tarjetas:listar_tarjetas' %}">Volver a la lista de tarjetas</a>

    <form method="POST" action="{% url 'tarjetas:eliminar_tarjeta' tarjeta.id %}">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta tarjeta?')">Eliminar tarjeta</button>
    </form>
{% endblock %}
