{% extends 'base/base.html' %}

{% block title %}Crear Transferencia{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="login-title">Crear Transferencia</h1>

    {% if error %}
        <div class="error-message">{{ error }}</div>  <!-- Usamos el estilo global de errores -->
    {% endif %}

    <form method="POST" class="login-form">
        {% csrf_token %}

        <!-- Cuenta de Origen -->
        <div class="form-group">
            <label for="origen">Cuenta de Origen:</label>
            <select name="origen" class="form-control" required>
                {% for cuenta in cuentas %}
                    <option value="{{ cuenta.id }}" {% if cuenta.id == origen_id %}selected{% endif %}>{{ cuenta }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Cuenta de Destino -->
        <div class="form-group">
            <label for="destino">Cuenta de Destino:</label>
            <select name="destino" class="form-control" required>
                {% for cuenta in cuentas_destino %}
                    <option value="{{ cuenta.id }}" {% if cuenta.id == destino_id %}selected{% endif %}>{{ cuenta.cliente.user }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Monto -->
        <div class="form-group">
            <label for="monto">Monto:</label>
            <input type="number" name="monto" step="0.01" min="0" value="{{ monto }}" class="form-control" required>
        </div>

        <button type="submit" class="btn-submit">Transferir</button>
    </form>

    <br>
    <a href="{% url 'homebanking:homebanking' %}">
        <button class="btn-submit">Volver atrás</button>
    </a>

</div>
{% endblock %}
