{% extends "base/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2 class="login-title">Iniciar Sesión</h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }} <!-- Genera todos los campos del formulario -->
        <button type="submit" class="btn-submit">Iniciar sesión</button>
    </form>

    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
</div>
{% endblock %}
