{% extends "base/base.html" %}

{% block title %}Homebanking{% endblock %}

{% block content %}
    <h1>TimeBank</h1>
    <nav>
        <ul>

            <li><a href="{% url 'login:logout' %}">Logout</a></li>
            <li><a href="{% url 'clientes:listar_clientes' %}">Clientes</a></li>
            <li><a href="{% url 'listar_cuentas' %}">Cuentas</a></li>
            <li><a href="{% url 'listar_tarjetas' %}">Tarjetas</a></li>          
            <li><a href="{% url 'listar_movimientos' %}">Movimientos</a></li>
        </ul>
    </nav>
{% endblock %}
